{% extends "AmbCreditBundle::formlayout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block ambcredit_body %}
    <h2>Ajouter un encaissement</h2>
    {% include "AmbCreditBundle:Encaissement:form_autre_encaissement.html.twig" %}

    {{ parent() }}
{% endblock %}