<page backtop="40mm" backbottom="15mm"  footer="date;heure;page"> 
    <page_header>
    	<table>
    		<tr>
    			<td style="width:150px;">
    				<img src="http://localhost/ahgh/web/images/logo-ahgh.png" >
    			</td>
    			<td>
    				<h1 style="text-align:center">PROJET MALAGA BEACH<br>A.H.G.H</h1>
    			</td>
    		</tr>
    	</table>
    </page_header>
    <page_footer> 
        <p style="font-size:11px; text-align:center">Résidence Balnéaire, Malaga Beach Avenue des Far résidence belle vue Imm A appt 4 Etage 1 à Benslimane - Maroc<br>
        Tél: (00212) 5 22 66 40 30 - (00212) 5 22 66 59 01/02 - Fax: (00212) 5 22 66 14 22 - GSM : (00212) 6 61 34 56 07 <br>E-mail : malagabeach1@gmail.com</p>
    </page_footer> 
    <style>
	    table td{
	    	vertical-align: top;
            margin:0;
	    	padding: 0 15px;
	    	text-align: left;
	    }
	    table td.right{
	    	text-align: right;
	    }
	    table th{
	    	vertical-align: top;
	    	padding: 0 15px;
	    	text-align: left;
	    }
	</style>
    {% block body %}
	{% endblock %}
 </page>