{% extends "AmbDebitBundle::depense_layout.html.twig" %}

{% block title %}
    Ajouter - {{ parent() }}
{% endblock %}

{% block ambdebit_body %}
{% set typeaction = 'add' %}
    <h2>Ajouter un rembouressement</h2>
    {% include "AmbDebitBundle:Depense:form_rembour.html.twig" %}


{% endblock %}