{% extends "AmbDebitBundle::depense_layout.html.twig" %}

{% block title %}
    Modifier - {{ parent() }}
{% endblock %}

{% block ambdebit_body %}

    <h2>Modifier une dépense</h2>
    {% include "AmbDebitBundle:Depense:form_depense_intervenant.html.twig" %}

{% endblock %}