{# src/Amb/AdherentBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" charset="utf-8">
	    $(document).ready(function() {
	        $('.date').datepicker({ dateFormat: 'dd-mm-yy' }) ;
	    } );
    </script>
{% endblock %}

{% block masthead %}
    <h2>Gestion des adhérents</h2>
{% endblock %}

{% block body %}

<div class="row">
	<div class="span12">
	    {% block ambadherent_body %}
	    {% endblock %}
    </div>
</div>
{% endblock %}
